// bower:scss
// endbower

$blue-color: #0091ea;

body {
  color: white;
}

/* Header */
#header {
  border-bottom: #fff solid 1px;
}

.sign-in-button {
  background-color: $blue-color !important;
  color: white;
}

.demo-layout-transparent {
  background: url('../images/bg.jpg') center / cover;
}

.link-on-hover:hover {
  color: $blue-color;
  font-weight: bold;
}

/* Title */
#main {
  display: table;
}

#title {
  height: 550px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

/* Features */
#features {
  padding: 10px 30px 20px;
  color: $blue-color;
}

#features-grid {
  text-align: center;
  >div {
    height: 300px;
    margin: auto;
    padding: 20px;
    border: 2px solid $blue-color;
    border-radius: 20px;
  }
}

.features-grid-hover {
  background-color: $blue-color;
  color: white;
  text-align: left;
}

.screen-shoot {
  width: 350px;
}

/* Review */
#review {
  padding: 30px;
}

div .reviewer-photo {
  text-align: center;
}

.reviewer-photo {
  margin-left: 70px;
  width: 96px;
  height: 96px;
  border-radius: 64px;
}

.bold {
  font-weight: bold;
}
