body {
  color: white;
}

/* Header */
#header {
  border-bottom: #fff solid 1px;
}

.sign-in-button {
  background-color: #0091ea !important;
  color: white;
}

.demo-layout-transparent {
  background: url("../images/bg.jpg") center/cover;
}

.link-on-hover:hover {
  color: #0091ea;
  font-weight: bold;
}

/* Title */
#main {
  display: table;
}

#title {
  height: 550px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

/* Features */
#features {
  padding: 10px 30px 20px;
  color: #0091ea;
}

#features-grid {
  text-align: center;
}

#features-grid > div {
  height: 300px;
  margin: auto;
  padding: 20px;
  border: 2px solid #0091ea;
  border-radius: 20px;
}

.features-grid-hover {
  background-color: #0091ea;
  color: white;
  text-align: left;
}

.screen-shoot {
  width: 350px;
}

/* Review */
#review {
  padding: 30px;
}

div .reviewer-photo {
  text-align: center;
}

.reviewer-photo {
  margin-left: 70px;
  width: 96px;
  height: 96px;
  border-radius: 64px;
}

.bold {
  font-weight: bold;
}
