// bower:scss
// endbower

$primary-color: #03a9f4;
$secondary-color: #f5f5f5;

body {
  color: white;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../images/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

.banner {
  height: 700px;
  overflow: hidden;
}

.banner__white-title {
  color: $secondary-color;
  padding-bottom: 10px;
  border-bottom: solid $secondary-color 2px;
}

.banner__blue-title {
  color: $primary-color;
  padding-bottom: 10px;
  border-bottom: solid $primary-color 2px;
}

#index-banner {
  background-color: rgba(0,0,0,0.4);
  padding-bottom: 150px;
}

#sign-up-button {
  margin-left: 5%;
}

#carousel-frame {
  position: absolute;
  z-index: 1;
}

#features-banner {
}

.features-banner__header {
  font-weight: bold;
}

.features-banner__detail {

}

.reviews-banner__name {
  font-size: 14pt;
  font-weight: bold;
}

.reviews-banner__job {
  
}

.reviews-banner__review {
  font-style: italic;
}

.small {
  height: 220px !important;
}

blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid $secondary-color;
}